@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
:root{
    --font1:'STIX Two Math', serif !important;
}

body{
    font-family: var(--font1);
}

.navbar-brand{
    font-size: 25px;
}

.nav-link{
    font-size: 20px;
    color: white !important;
}
.nav-link:hover{
    color: rgba(250, 244, 244, 0.664) !important;
}

.img-about{
    background: url("../aboutPage.jpg") no-repeat center center/cover;
    background-position: 100% 100%;
}

.img-contact{
    background: url("../contactPhoto.jpg") no-repeat center center/cover;
    background-position: 100% 100%;
}