{% extends 'base.html' %}
{% block title %}
  About
{% endblock title %}
{% block body %}
<div class="carousel-item active">
  <img src="../static/checkList.png" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block" style="color:black">
    <h5 class="my-2" style="font-size: 45px">About My Todo Website</h5>
    <p class="mx-2" style="font-size: 25px; margin-bottom: 250px">TODO means "to do". Something that someone will need to do. In this website you can write your todo, update your todo, delete your todo. This is a very useful website for our daily life!</p>
  </div>
</div>
{% endblock body %}