{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<div class="container-fluid g-0">
  <div class="p-5 bg-light rounded-3 img-about">
    <div class="container-fluid py-5">
      <h5 class= "text" style="font-size: 65px; margin-top: 125px;">About My Todo Website</h5>
      <p class="mx-2 text" style="font-size: 35px; margin-bottom: 160px">TODO means "to do". Something that someone will need
        to do. In this website you can write your todo, update your todo, delete your todo. This is a very useful
        website for our daily life!</p>
    </div>
  </div>
</div>
{% endblock body %}