{% extends 'base.html' %}
{% block title %}
Contact
{% endblock title %}
{% block body %}
<div class="container-fluid g-0">
  <div class="p-5 bg-light rounded-3 img-contact">
    <div class="container-fluid py-5">

      <h1>Contact Us</h1>

      <div class="text mt-4">
        <h3 class="pl-3">Address</h3>
        <p class="pl-3" style="font-size: 20px !important;">Jyangra Mondal Para,Hatiara Road <br>Baguihati, North 24
          Pags <br>Kol-700159</p>
      </div>

      <div class="text">
        <h3 class="pl-3">Phone</h3>
        <p class="pl-3" style="font-size: 20px !important;">+91-891-079-5656</p>
      </div>

      <div class="text">
        <h3 class="pl-3">Email</h3>
        <p class="pl-3" style="font-size: 20px !important;">niloykolkata59@gmail.com</p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}