{% extends 'base.html' %}
{% block title %}
Contact
{% endblock title %}
{% block body %}
<div class="carousel-item active">
  <img src="../static/contactPhoto.jpg" class="d-block w-100 h-50" style="opacity: 0.55;" alt="...">
  <div class="carousel-caption d-none d-md-block" style="color:black">
    <h1>Contact Us</h1>

    <div class="text mt-4">
      <h3 class="pl-3">Address</h3>
      <p class="pl-3" style="font-size: 20px !important;">Jyangra Mondal Para,Hatiara Road <br>Baguihati, North 24 Pags <br>Kol-700159</p>
    </div>

    <div class="text">
      <h3 class="pl-3">Phone</h3>
      <p class="pl-3" style="font-size: 20px !important;">+91-891-079-5656</p>
    </div>

    <div class="text">
      <h3 class="pl-3">Email</h3>
      <p class="pl-3" style="font-size: 20px !important;">niloykolkata59@gmail.com</p>
    </div>
  </div>
</div>
{% endblock body %}